.label {
  font-family: 'Gujarati MT';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  display: flex;
  align-items: flex-end;
  color: var(--title-font-color);
  margin: 0 0 0 110px
}
