#container {
  display: flex;
  position: relative;
  top: 30px;
  // todo: ボタンの大きさ選択
  margin: auto;
  // todo: ボタンの大きさ選択
  width: 500px;
}

#button {
  margin: auto;
  // todo: ボタンの大きさ選択
  width: 100%;
  // todo: ボタンの大きさ選択
  // padding: 23px 70px 0px;
  padding: 23px 40px 0px;
  background: var(--button-color);
  border-radius: 100px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  // todo: ボタンの大きさ選択
  // font-size: 60px;
  font-size: 50px;
  line-height: 92px;
  text-align: center;
  color: #F8FFFE;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 50%);
}

#button:hover {
  background: var(--button-hover-color);
}
