#title_number {
  font-family: 'Gujarati MT';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #F8FFFE;
  background: var(--paragraph-header-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#title {
  line-height: 30px;
  font-family: 'Gujarati MT';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--title-color);
  margin: 0 0 0 9px;
}

#title_container {
  display: flex;
}
