#title_number{
  font-family: 'Gujarati MT';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #F8FFFE;
  background: #4CAE9C;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#title{
  line-height: 30px;
  font-family: 'Gujarati MT';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #4F5A55;
  margin: 0 0 0 9px;
}

#title_container{
  display: flex;
}
