:root {
  --title-color: #4F5A55;
  --button-color: #0DD2AF;
  --button-hover-color: #75D7C5;
  --header-background-color: #F7FFFE;
  --button-background-color: #C6FFF5;
  --paragraph-header-color: #4CAE9C;
  --title-font-color: #4F5A55;
  --paragraph-font-color: #8B8989;
  --checkbox-background-color: #E4E3E3;
  --checkbox-background-color-checked: #50CAFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
