#main_direction {
  margin: 0;
  height: 160px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--paragraph-font-color);
  // todo:下揃え方法募集
  padding-top: 100px;
}
