#main_direction_container{
  padding-top: 50px;
}

.main_direction {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var(--paragraph-font-color);
}
